.image-cover {
  padding-top: 10em;
  padding-bottom: 10em;
  background-size: cover;
  background-position: center center;
  margin-bottom: 2em;

  .capture {
    color: #fff;
    background-color: $textCoverBg;
    display: inline-flex;
    padding: 1.0em;
    font-size: 1.5em;
    border-radius: 0.2em;
  }
}

.cover-slider {
  overflow: hidden;
  display: flex;
  height: 500px;

  &.image-cover {
    padding-top: 5em;
  }

  &__item {
    width: 100vw;
    height: 500px;
    background-size: cover;
    background-position: center center;
    //position: fixed;
    display: none;

    .capture {
      display: flex;
      height: 100%;

      &__text {
        position: absolute;
      }
    }
  }
}
