@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

@import "components/variables";
@import "components/grid";
@import "components/flex";

/* Helpers */
@import "components/helpers/inputs";
@import "components/helpers/flex";
@import "components/helpers/general";
@import "components/helpers/margins";
@import "components/helpers/typo";
@import "components/helpers/widths";
@import "components/helpers/button";

/* Pages */
@import "components/pages/index";
@import "components/shop/category";
@import "components/shop/product";
@import "components/shop/cart";

/* Utils */
@import "components/responsive";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: $textMain;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 20px;
  line-height: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.container {
  margin: 0 auto;
  max-width: 1000px;
}

footer {
  ul {
    list-style: none;
  }
  a {
    color: #fff;
  }

  .footer-col {
    font-size: 14px;

    strong {
      font-size: 17px;
      font-weight: 300;
    }
    li {
      margin-bottom: 2px;
    }
  }
}

.title-white {
  color: $white;
  background: rgba(9, 45, 79, 0.8);
  border-radius: 3px;
}

.slider-title {
  font-size: 50px;
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
}

.error-404 {
  .illustration-404 {
    max-width: 310px;
    margin: 40px 0;
  }
}

input,
textarea,
select {
  border-radius: 3px;
  border: 1px solid #e6e6e6;
  padding: 10px;
  width: 100%;
}
input[type=checkbox]{
  width: auto;
}
select {
  background: none;
}

.input-container {
  margin-bottom: 8px;
  padding: 0 20px;
}
.label {
  font-size: 0.8em;
  font-family: "Open Sans";
  margin: 3px;
}

.special {
  font-weight: 600;
  color: $mainBlue;
}

.title1 {
  font-weight: bold;
  color: #092d4f;
}
