@media screen and (min-width: 767px) {
  .main-header {
    display: flex;
  }
}

.main-header {
  margin-bottom: 10px;

  &__navigation {
    margin-left: auto;

    &-cart {
      background-color: $mainBlue;
      padding: 10px 20px;
      color: #fff;
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;

      i {
        margin-right: 20px;
      }
    }

    &-cta {
      padding: 1.0em 0 1.0em;
      font-size: 1.1em;
      font-weight: 100;
    }

    /*
      Navigation
    */
    .main-navigation {
      list-style: none;

      li {
        &:not(:last-child) {
          a {
            padding-right: 2.0em;
          }
        }
      }

      a {
        color: $mainBlue;
        text-decoration: none;
        font-weight: bold;
        font-size: 1.0em;
        display: block;
      }
    }
  }
}
