/*  Tablets */
@media only screen and (min-width: 768px) and (max-width: 1365px) {
  h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 767px) {
  img {
    max-width: 100%;
  }

  .product-category {

  }

  .bg-img {
    //max-height: 230px !important;
  }

  $bgImgContainerHeight: 256px;

  .product-single {
    .bg-img-container {
      min-height: $bgImgContainerHeight;
      & > div {
        min-height: inherit !important;
      }
    }

    .icon-bar {
      .icon {
        width: inherit;
      }
    }
  }

  .product-category {
    #main-content {
      max-width: 90%;
      margin-left: auto;
      margin-right: auto;
    }

    .bg-img-container {
      min-height: $bgImgContainerHeight;
      & > div {
        min-height: inherit !important;
      }
    }

    .product {
      margin-top: 50px;
    }

    .product-info {
      margin-bottom: 30px;

      .product-title {
        font-size: 20px;
        font-weight: bold;
        color: $mainBlue;
      }

      .product-description {
        margin: 20px 0;
      }

      .price-weekly {
      }

      .price-weekly, .price-daily {
        font-size: 25px;
        font-weight: bold;
        color: $mainBlue;
      }

      .price-explanation {
        display: block;
      }
    }

  }
}

/*  mobile */
@media only screen and (max-width: 767px) {
  body {
    font-size: 14px;
  }
  h1,
  h2,
  h3,
  h4 {
    font-size: 26px !important;
  }

  i, span, div {
    font-size: 14px;
  }

  .slider-title {
    font-size: 26px;
  }

  .img-responsive {
    max-width: 100%;
  }
}
