.faq {
  .question {
    background: #092d4f;
    color: white !important;
    padding: 13.5px 20px;
    font-weight: 100;
    cursor: pointer;
    font-size: 17px;
    border-radius: 4px;
  }
  .answer {
    margin: 12px;
    font-size: 12px;

    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.4s ease-in-out;
    max-height: 0;
    overflow-y: hidden;
  }
  .answer.active {
    max-height: 80px;
  }
}
