.index-categories {
  a {
    height: 211px;

    img {
      max-height: 90px;
      max-width: 112px;
    }
  }
}

.index-letter-box {
  .outline-image-box {
    min-height: 600px;
    background-position: center center;
    background-size: cover;
  }

  h3 {
    font-size: 2em;
    margin-bottom: 1em;
  }

  &.grid-cols-2,
  .grid-cols-2 {
    grid-template-columns: 1fr 1fr;
  }

  &.grid-rows-2,
  .grid-cols-2 {
    grid-template-rows: 1fr 1fr;
  }
}

.index-contact-box {
  &__image {
    min-height: 600px;
    background-size: cover;
    background-position: center center;
  }
}

.service-lad-os-overtage {
  p {
    margin-bottom: 20px !important;
  }
  h2 {
    margin-bottom: 33.2px !important;
  }
}

.service-installation-delivery {
  h2 {
    font-size: 30px !important;
    margin: 20px !important;
  }
  p {
    font-size: 16px !important;
  }
}

.info {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  .info-card {
    width: 250px;
    text-align: center;
    margin: 15px;
    .info-card-img {
      margin: 30px auto;
      max-width: 79px;
      max-height: 57px;
    }
    .info-card-body {
      display: flex;
      flex-direction: column;
      .info-card-title {
        font-weight: 600;
      }
      .info-card-desc {
        font-size: 0.7em;
      }
    }
    .info-card-spinner {
      font-size: 2.1em;
      font-weight: 700;
    }
  }
}

#index {
  .home-section-1 {
    .home-section-1-1 {
      min-height: 500px;
      width: 100%;
      height: 50%;
    }
    .home-section-1-2 {
      height: 50%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      background: #092d4f;
      padding: 50px 0;
    }
  }

  @media only screen and (max-width: 767px) {
    .info {
      width: 100%;
      .info-card {
        width: 120px;
      }
    }
    .home-section-1 {
      .home-section-1-1 {
        min-height: 300px;
      }
      .home-section-1-2 {
        padding: 0;
      }
    }
  }
}
