.page-services {
  .section {
    padding: 42px 230px;
  }
  .employee-table {
    h3 {
      margin: 40px 0;
      font-size: 40px;
      color: #092d4f;
    }
  }

  .kontakt-os-btn {
    width: 250px;
    background: transparent;
    border: 1px solid #fff;
    padding: 5px 10px;
    margin-top: 10px;
    display: block;
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    line-height: 50px;
    color: #fff;
  }
}
