.product-single {

  .slick-prev:before, .slick-next:before {
    color: $mainBlue;
  }

  .product-gallery {
    margin-right: 20px;

    .product-gallery-main-image {
      cursor: zoom-in;
      max-height: 300px;
      max-width: 300px;
      overflow: hidden;

      img {
        width: 100%;
        height: 100%;
        cursor: pointer;
      }
    }

    .product-gallery {
      &__thumbs {
        width: 100%;
        height: 80px;
        margin-top: 50px;

        &-thumb {
          height: 80px;
          position: relative;

          img {
            max-width: 100%;
            max-height: 100%;
            margin:auto;
            //position: absolute;
            //top: 0;
            //bottom: 0;
            //margin: auto;
            //cursor: pointer;
          }
        }
      }
    }
  }

  .product-modal-thumb-container {
    text-align: center;
    display: flex;
    justify-content: center;
  }

  //.product-modal-thumbs {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //}

  .product-modal-thumb {
    text-align: center;

    img {
      max-width: 50px;
      max-height: 50px;
    }
  }

  .product-modal-main-image {
    width: 500px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin: auto;
    overflow: hidden;

    img {
      max-width: 100%;
      max-height: 90%;
      margin: auto;
      display: block;
    }
  }

  .product-meta {
    .product-prices {
      font-weight: 700;

      .price-weekly {
        font-size: 1.8em;
      }

      .price-explanation {
        margin-left: 5px;
        font-size: 0.9em;
      }
    }

    .product-description {
      font-size: 0.8em;
      font-weight: 100;
      margin-top: 15px;
    }
  }

  .features-table {
    font-size: 0.7em;
  }

  .table-row {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-top: 1px solid rgb(231, 231, 231);

    .table-key {
      width: 40%;
      padding-left: 15px;
    }

    .table-value {
      width: 60%;
      padding-left: 15px;
    }
  }

  .cartNotifModal {
    .cartNotifModal-body {
      width: 80%;
      font-size: 0.8em;
      margin: 0 auto;

      .cartNotifModal-icon {
        font-size: 100px !important;
        color: #092d4f;
      }
    }
  }

  @media only screen and (max-width: 767px) {
    .cartNotifModal {
      .cartNotifModal-body {
        width: 100%;
      }
    }
  }
}
